<!DOCTYPE html>
<html>
  <head>

      <link rel="stylesheet" href="./css/terms.css" type="text/css" media="screen">  
 

  </head>



  <body>

    <div id="terms_view" class="modal popup_full_warp" data-backdrop="static">
      <div class="modal-dialog">
        <div class="modal-content">
          <section class="terms content_wrap">
            <div class="container" style="margin-top: 0;">
              <div class="row">
                <div class="col-xs-12 col-sm-12 caption">
                  <img src="img/member/service_icon.png" alt="" class=""><h2>服务条款</h2>
                  <button type="button" class="close close_btn" data-dismiss="modal" aria-hidden="true"></button>
                </div>
                
                <div class=" col-xs-12 col-sm-12 tab_warp">
                  <div role="tabpanel">
                    <!-- 标签面板：标签区 -->
                    <ul class="nav nav-tabs col-xs-12 col-sm-12 tab_header" role="tablist">
                      <li role="presentation" class="active col-xs-6 col-sm-6">
                        <div class="row">
                          <a href="#terms1" aria-controls="tab1" role="tab" data-toggle="tab">博彩责任</a>
                        </div>
                      </li>
                      <li role="presentation" class="col-xs-6 col-sm-6">
                        <div class="row">
                          <a href="#terms2" aria-controls="tab2" role="tab" data-toggle="tab">隐私政策</a>
                        </div>
                      </li>
                    </ul>

                    <!-- 标签面板：内容区 -->
                    <div class="tab-content tab_body">
                      
                      <div role="tabpanel" class="tab-pane active" id="terms1">
                        <div class="container detail">
                          <div class="row">
                            <div class="col-xs-12 col-sm-12 parag">
                              <div class="row">
                                <div class="title">服务与条款-博彩责任</div>
                                <div class="text">【多乐duole】一直积极推行负责任博彩，并极力拒绝未成年玩家使用我们的网站进行网上娱乐。同时，我们更透过专业人员及各种有效方法，以防止问题博彩的发生。</div>
                              </div>
                            </div>

                            <div class="col-xs-12 col-sm-12 parag">
                              <div class="row">
                                <div class="title">年龄限制</div>
                                <div class="text">18岁以下的未成年人是禁止参与网络博彩的，【多乐娱乐】将保有对顾客所提供年龄信息证明的查询，如有发现年龄证明与客户所提供的不符，我们将关闭客户的账号以及冻结所剩余的资金。由于各地的法令条款不同，因此我们建议客户在进行博彩游戏前，翻阅当地法律进行查询。</div>
                              </div>
                            </div>

                            <div class="col-xs-12 col-sm-12 parag">
                              <div class="row">
                                <div class="title">问题性博彩问卷调查</div>
                                <div class="text">【多乐娱乐】正在积极努力为玩家提供一个优质的娱乐平台。这些问题设置的目的在于，我们已经设置升级了多项安全设施来确保我们游戏的公平公正。我们鼓励客户通过回答我们的问卷来了解客户对博彩的危害问题的状况:
                                  <ul>
                                    <li>1.您会因为躲避工作和学习来进行赌博吗？</li>
                                    <li>2.您在注金投注完时，是否感觉钱已经丢掉或者说要尽快的再次下注？</li>
                                    <li>3.您会一直赌博直到您的钱都输完吗？</li>
                                    <li>4.您是否有说谎借钱，甚至盗窃来进行博彩？</li>
                                    <li>5.您是否刻意隐瞒过您在博彩中花费的时间和资金吗？</li>
                                    <li>6.您是否不愿意花费您的赌金在其他方面呢？</li>
                                    <li>7.您是否已经对家人，朋友和爱好失去了兴趣？</li>
                                  </ul> 
                                
                                </div>
                              </div>
                            </div>



                          </div>           
                        </div>
                      </div>
          
                      <div role="tabpanel" class="tab-pane" id="terms2">隐私政策内容</div>
                    </div>
                  </div>        
                </div> <!--tabwarp-->

              </div>
            </div>
          </section>

        </div>
      </div>
    </div> 


  </body>

</html>