script(src='./lib/bootstrap-3.3.7-dist/js/bootstrap.min.js')
script(src='./lib/Swiper-master/js/swiper.min.js')
script(src='./lib/jquery.blockUI.js')
script(src='./js/base.js')
script(src='./js/object.js')

