.fix_service
	ul
		li
			a(href="javascript:;")
				img(src="imgs/common/icons/aside_service_icon.png" alt="")
				span 在线客服
		li
			a(href="javascript:;")
				img(src="imgs/common/icons/weChat_icon.png" alt="")
				span 微信扫码
		li
			a(href="javascript:;")
				img(src="imgs/common/icons/aside_club_icon.png" alt="")
				span 俱乐部
		li
			a(href="javascript:;")
				img(src="imgs/common/icons/aside_down_icon.png" alt="")
				span 下载中心
		li
			a(href="javascript:;")
				img(src="imgs/common/icons/aside_problem_icon.png" alt="")
				span 常见问题
		li.top#gotop
			img(src="imgs/common/icons/top_icon.png" alt="")