footer
	.box.container-fluid
		.row
			.col-md-4.col-lg-4
				.row
					.left
						.sub_wrap
							.title
								img(src="imgs/common/footer_Service_img.jpg" alt="")
							.content.sec
								.title
									.pull-left.text
										h4 存款到账
										span.sub_title 平均时间
									.pull-right.time
										span.num 24
										span.unit 秒
									.clearfix
								.con
									.bar

							.content.min
								.title
									.pull-left.text
										h4 取款到账
										span.sub_title 平均时间
									.pull-right.time
										span.num 2'15
										span.unit 分
									.clearfix
								.con
									.bar

							.content.place
								.pull-left.text
									h4 便捷的银行服务					
									img(src="imgs/common/footer_bank_img.jpg" alt="")
									span.sub_title 目前支持的支付机构
								.pull-right.time
									span.num 40
									span.unit 家
								.clearfix

			.col-md-4.col-lg-4
				.row
					.middle
						.title
							img(src="imgs/common/footer_partners_img.jpg" alt="")
						ul.partners
							li
								img(src="imgs/common/footer_PT_img.jpg" alt="")
							li
								img(src="imgs/common/footer_MG_img.jpg" alt="")
							li
								img(src="imgs/common/footer_TOP_img.jpg" alt="")
							li
								img(src="imgs/common/footer_PlayGO_img.jpg" alt="")
							li
								img(src="imgs/common/footer_GamesOS_img.jpg" alt="")
									
						ul.partners
							li
								img(src="imgs/common/footer_AG_img.jpg" alt="")
							li
								img(src="imgs/common/footer_BBIN_img.jpg" alt="")
							li
								img(src="imgs/common/footer_BET_img.jpg" alt="")
							li
								img(src="imgs/common/footer_NYX_img.jpg" alt="")



			.col-md-4.col-lg-4
				.row
					.right
						.title
							img(src="imgs/common/footer_help_img.jpg" alt="")

						.footer_menu
							.content
								ul
									li
										a(href="javascript:;")
											img(src="imgs/index/icons/index_next_icon.jpg", alt="") 
											|代理加盟
									li
										a(href="javascript:;")
											img(src="imgs/index/icons/index_next_icon.jpg", alt="")
											|常见问题 
									li
										a(href="javascript:;")
											img(src="imgs/index/icons/index_next_icon.jpg", alt="")
											|联系我们
								ul
									li
										a(href="javascript:;")
											img(src="imgs/index/icons/index_next_icon.jpg", alt="")
											|隐私策略
									li
										a(href="javascript:;")
											img(src="imgs/index/icons/index_next_icon.jpg", alt="")
											|责任条款
									li
										a(href="javascript:;")
											img(src="imgs/index/icons/index_next_icon.jpg", alt="")
											|服务条款
							.content 乐娱乐城持有菲律宾政府PAGCOR博彩牌照且受其监管
							.content
								span 电话: 0063-906-2667-666 
								span QQ: 9257868
							.content
								span Copyright © 2016 多乐娱乐国际控股
								span 更多精彩 尽在多乐娱乐城