header.full_header
	.mem_bar
		.box
			.pull-left.left
				span GMT+08:00 2017-10-09 18:42:39

			.pull-right.right
				.off_login
					.form
						span.title 账号
						input.input_middle.input_fill_dark(type="text")
					.form
						span.title 密码
						input.input_middle.input_fill_dark(type="password")

					.btn.btn_fill_green.btn_small 
						a(href="javascript:;") 登录

					a.forget(href="javascript:;") 忘记密码？
					
					.btn.btn_fill_gray.btn_small
						a(href="javascript:;") 注册

				.on_login
					span.greetings 您好，
						span.font_yellow flashtest
					.balance#tbal
						.num ¥300
							span.font_sub .22
						.reload
							img(src="./imgs/common/icons/hd_reload_icon.png", alt="") 
					.switch.on
						.toggle

					.member
						ul
							li 
								a(href="./member_deposit.html") 充值
							li 
								a(href="./member_trnsfer.html") 转帐
							li
								a(href="./member_withdraw.html") 取款
							li
								a(href="./member_deposit.html") 个人中心
							li
								.btn.btn_fill_gray.btn_small 
									a(href="javascript:;") 登出

			.clearfix


	nav
		.box
			.pull-left.left
				a(href="./index.html")
					img(src="./imgs/common/logo_t.png", alt="")
			.pull-left.right
				ul.menu#tMenu
					li
						a(href="./index.html")
							img(src="./imgs/common/icons/home_icon.png", alt="")
							span.title 首页
					li
						a(href="./slot.html")
							img(src="./imgs/common/icons/slot_icon.png", alt="")
							span.title 老虎机
					li
						a(href="./live.html")
							img(src="./imgs/common/icons/menu_live_icon.png", alt="")
							span.title 真人
					li
						a(href="./sports.html")
							img(src="./imgs/common/icons/menu_sport_icon.png", alt="")
							span.title 体育
					li
						a(href="javascript:;")
							img(src="./imgs/common/icons/menu_lotto_icon.png", alt="")
							span.title 彩票
					li
						a(href="./fishing.html")
							img(src="./imgs/common/icons/menu_fishing_icon.png", alt="")
							span.title 补鱼
					li
						a(href="./promotions.html")
							img(src="./imgs/common/icons/menu_event_icon.png", alt="")
							span.title 优惠
					li
						a(href="./vip.html")
							img(src="./imgs/common/icons/menu_club_icon.png", alt="")
							span.title 俱乐部
			.clearfix