doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="./lib/bootstrap-3.3.7-dist/css/bootstrap.min.css")
    link(rel="stylesheet" href="./lib/Swiper-master/css/swiper.css")

    //- !-- Common css --
    link(rel="stylesheet" href="./css/common.css" type="text/css" media="screen")
    link(rel="stylesheet" href="./css/popup.css" type="text/css" media="screen")

    block page_head
    //- !-- for index --
    //- link rel="stylesheet" href="./lib/Swiper-master/css/swiper.css"
    //- link rel="stylesheet" type="text/css" href="./lib/slick/slick.css"/
    //- link rel="stylesheet" type="text/css" href="./lib/slick/slick-theme.css"/
    //- link rel="stylesheet" href="./lib/odometer-master/themes/odometer-theme-default.css" /

    //- link rel="stylesheet" href="./css/index-content.css" type="text/css" media="screen"      
    
    script(src="./lib/jquery/jquery-3.2.1.min.js")


    title 多乐


  block body